# History files
.Rhistory
# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
# previews of my notes file
resistanceModelNotesAndy.html
#man pages
man/*
# pdfs
*.pdf
# shinyapps dcf files
*.dcf
*/rsconnect/*
